[submodule "vendor"]
	path = vendor
	url = git://github.com/mozilla/playdoh-lib.git
[submodule "vendor-local"]
	path = vendor-local
	url = git://github.com/lmorchard/badger2-lib.git
[submodule "django-badger"]
	path = django-badger
	url = git://github.com/lmorchard/django-badger.git
