<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}" id="badger-mozilla-org"
        xmlns:fb="http://www.facebook.com/2008/fbml"
        xmlns:og="http://ogp.me/ns#">
    <head>
        <title>{% block title %}{{ _('Badger') }}{% endblock %}</title>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        {# <link rel="home" href="{{ url('home') }}"> #}
        <link rel="copyright" href="#copyright">
        <link rel="shortcut icon" href="{{MEDIA_URL}}img/favicon.ico"/>

        {% block site_css %}
            {{ css('main') }}
            {% for style in styles %}
                {{ css(style) }}
            {% endfor %}
        {% endblock %}

        {% block extrahead %}{% endblock %}
    </head>

    <body id="{% block pageid %}{% endblock %}" class="html-{{ DIR }} {% block bodyclass %}{% endblock %}" role="document">

        <header id="masthead" class="{% block headerclass %}minor{% endblock %}">
            <div class="logo">
                <a href="{{url('home')}}">Badger</a>
            </div>
            <nav>
                {% if request.user.is_authenticated() %}
                    {{ _('Welcome back, <a href="{user_url}">{user_name}</a>') | f(
                        user_url=request.user.get_absolute_url(),
                        user_name=request.user) | safe }}
                    (
                    <a href="{{ url('django.contrib.auth.views.logout') }}">{{_('logout')}}</a>
                    )
                {% else %}
                    <form action="{{url('browserid_verify')}}" method="POST">
                        <a href="#" class="browserid-signin" title="{{_('Sign In with BrowserID')}}"><img src="{{MEDIA_URL}}img/sign_in_blue.png" /></a>
                        {{ browserid_form }}
                    </form>
                {% endif %}
            </nav>
        </header>

        <section id="main">
            {% block content %}{% endblock %}
        </section>

        <footer id="site-info" role="contentinfo">
            <div class="wrap">
            </div>
        </footer>

        {% block site_js %}
            <script src="https://browserid.org/include.js" type="text/javascript"></script>
            {{ js('main') }}
            {% for script in scripts %}
                {{ js(script) }}
            {% endfor %}
        {% endblock %}
        {% block js %}{% endblock %}

    </body>
</html>
